<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">Edit Animal</h1>
    <div class="col-6 offset-3">

    <form action="/centers/<%= center._id %>/animals/<%= animal._id %>?_method=PUT" method="POST" novalidate class='validate-form'>
    
        <div class='mb-3'>
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" id="name" name="animal[name]" value="<%= animal.name %>" required>
        </div>
        <div class='mb-3'>
            <label class="form-label" for="headline">Attributes / Personality</label>
            <input class="form-control" type="text" id="headline" name="animal[headline]" value="<%=animal.headline%>" required>
        </div>
        <div class='mb-3'>   
            <label class="form-label" for="species">Species</label>
            <input class="form-control" type="text" id="species" name="animal[species]" value ="<%= animal.species %>" required>
        </div>
        <div class='mb-3'>   
            <label class="form-label" for="breed">Breed</label>
            <input class="form-control" type="text" id="breed" name="animal[breed]" value ="<%= animal.breed %>" required>
        </div>
        <div class='mb-3'>   
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" id="location" name="animal[location]" value ="<%= animal.location %>" required>
        </div>
        <div class='mb-3'>   
            <label class="form-label" for="image">Image URL</label>
            <input class="form-control" type="text" id="image" name="animal[image]" value="<%=animal.image%>" required>
        </div>
        <div class='mb-3'>   
            <label class="form-label" for="age">Age</label>
            <input class="form-control" type="text" id="age" name="animal[age]" value ="<%= animal.age %>" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">Adoption Price</label>
            <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input type="text" class="form-control" id='price' name="animal[price] placeholder="0.00" aria-label="Amount (to the nearest dollar)" aria-describedby="price-label" value="<%=animal.price %>" required>
            </div>
        </div>
        <div class='mb-3'>   
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" type="text" id="description" name="animal[description]" required><%=animal.description %></textarea>
        </div>

        <div class="mb-3">
                <button class="btn btn-dark">Update Animal</button>
        </div>
    </form>
    <a href="/centers/<%= center._id %>/animals/<%= animal._id %>">Back to Animal</a>

    </div>
</div>
   
       
   